.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 30px;
  padding: 30px;
  padding-bottom: 250px;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    img {
      height: 100px;
      width: 100px;
      border-radius: 100%;
    }
  }
}

.links-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
  gap: 30px;
  button {
    border: 0;
    padding: 5px 30px;
    background-color: #13ebdd;
    border-radius: 10px;
    color: white;
  }
}

.profile-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  gap: 30px;
  i {
    font-size: 50px;
    padding-right: 10px;
    cursor: pointer;
  }
  button {
    border: 0;
    padding: 5px 30px;
    background-color: #13ebdd;
    border-radius: 10px;
    color: white;
  }
}
