.my_eclipse {
  position: fixed;
  background-color: rgba(246, 248, 246, 0.733);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  .progress {
    position: fixed;
    background-color: #00000000;
    width: 200px;
    height: 80px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .progress i {
    font-size: 100px;
    color: rgb(58, 57, 55);
  }
}
