.category-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px;
  align-items: center;
  > * {
    width: 100%;
  }
  img {
    height: 200px;
    width: 200px;
    object-fit: scale-down;
  }
}
