.search-group {
  display: grid;
  grid-template-columns: 1fr 10fr 3fr;
  align-items: center;
  input {
    border: 0;
    padding: 30px;
  }
  input:focus {
    outline: none;
  }
  i {
    padding-left: 30px;
    cursor: pointer;
  }
  button {
    border: 0;
    padding: 30px 100px;
  }
}
