.advertisement-details {
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  > div {
    display: flex;
    justify-content: space-between;
  }
  Form {
    margin-top: 115px;
  }
  .carousel {
    width: 800px;
    .carousel-item {
      height: 620px;
      width: 800px;
    }
    .carousel-item.active {
      display: flex;
      justify-content: center;
      img {
        margin: 0;
      }
    }
    button {
      transition: background-color 0.1s linear;
    }
    button.active {
      margin-top: 8px;
    }
    .carousel-item img {
      margin-left: 100px;
      height: 600px;
      width: 600px;
      object-fit: scale-down;
    }
  }
  .advertisement-info {
    display: flex;
    gap: 30px;
    .bi-geo-alt {
      margin-right: 10px;
    }
    > div {
      border-radius: 5px;
    }
    > div:last-child {
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }
    h3 {
      font-weight: 400;
    }
    p {
      font-size: 18px;
      margin: 0;
    }
    .price {
      display: flex;
      align-items: center;
      font-weight: bold;
      p,
      i {
        font-size: 24px;
      }
    }
    .date {
      font-size: 14px;
    }
  }
  .user-info {
    width: 100%;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    div {
      display: flex;
      justify-content: space-between;
    }
    p {
      margin: 0;
    }
    > div:last-child {
      .user-contact {
        display: flex;
        flex-direction: column;
        p:last-child {
          font-size: 16px;
        }
      }
      > div:first-child {
        cursor: pointer;
      }
      display: flex;
      align-items: center;
      > div {
        display: flex;
        align-items: center;
        gap: 30px;
        p {
          font-size: 22px;
        }
      }
    }
    .call-icon {
      font-size: 22px;
    }
    h3 {
      font-weight: 400;
    }
    img {
      height: 75px;
      width: 75px;
      border-radius: 50%;
      cursor: pointer;
    }
    i {
      font-size: 75px;
    }
    margin-bottom: 30px;
  }
}
