.search {
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  > div {
    display: flex;
    justify-content: space-between;
  }
  .profile-container {
    padding: 0;
  }
  .links-container {
    padding: 10px;
    padding-right: 0;
  }
  .header-ul {
    width: 100%;
  }
  > div:first-child {
    position: fixed;
    background-color: white;
    border-bottom: 1px solid #b9bec4;
    top: 0;
    left: 120px;
    right: 120px;
  }
  Form {
    margin-top: 115px;
  }
}

.advertisements {
  padding-top: 43px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  .advertisement-title {
    font-size: 26px;
  }
  .advertisement-price {
    font-size: 20px;
    font-weight: bold;
    > i {
      font-size: 26px;
    }
    div {
      gap: 0;
    }
  }
  > div:last-child {
    margin-bottom: 30px;
  }
  > div {
    cursor: pointer;
    padding: 15px;
    border: 1px solid #b9bec4;
    width: 100%;
    display: flex;
    gap: 30px;
    img {
      width: 300px;
      height: 200px;
      object-fit: scale-down;
      border-radius: 10px 0 0 10px;
    }
    p {
      margin: 0;
    }
    > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      * {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
      }
    }
  }
}

.select {
  border: 1px solid #b9bec4;
  border-radius: 10px;
  a {
    text-decoration: none;
    color: black;
  }
  > p:first-child {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
  }
  > p:first-child:hover {
    background-color: #f2f4f5;
  }
  p {
    margin: 0;
    background-color: #f2f4f5;
    padding: 10px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.1s linear;
    cursor: pointer;
  }
  p:hover {
    background-color: #13ebdd;
  }
  position: absolute;
  display: flex;
  flex-direction: column;
  .subcategory {
    position: absolute;
    margin-left: 200px;
    margin-top: -45px;
    display: flex;
    flex-direction: column;
    border: 1px solid #b9bec4;
  }
}
.open {
  > p:first-child {
    display: flex;
    justify-content: space-between;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
  }
  border-radius: 10px 10px 0 0;
}
