.profile-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  i {
    font-size: 100px;
  }
  Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
    > * {
      width: 100%;
    }
    > div:first-child {
      width: auto;
    }
  }
  button {
    border: 0;
    padding: 5px 30px;
    width: 100%;
    border-radius: 10px;
  }
  input:focus {
    outline: 0 none;
  }
}
