body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-file-upload {
  input[type="file"] {
    display: none;
  }
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: 0.1s linear;
  background-color: rgba(0, 0, 255, 0.166);
  i {
    font-size: 100px;
    color: blue;
    transition: 0.1s linear;
  }
  .exc {
    position: fixed;
    margin-left: 150px;
    margin-bottom: 150px;
    color: red;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
}
.custom-file-upload:hover {
  background-color: rgba(0, 0, 255, 0.225);
  i {
    color: rgb(0, 0, 180);
  }
  .exc {
    color: red;
  }
}

.is-image-invalid {
  border: 1px solid red;
  .exc {
    display: block;
  }
}

.is-image-invalid:hover {
  box-shadow: rgba(255, 0, 0, 0.205) 0px 0px 0px 4px;
}
